<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>

        <h1>About</h1>
    
        <a href="Home" class="btn">Home</a>
        <a href="Recognition" class="btn">Recognition</a>
        <a href="About" class="btn">About</a>
        

        
        <div class="content">
            <div class="container">
                <h1>France Football Celebration 2021</h1>
                <p>The 2021 Ballon d'Or  was the 65th annual ceremony of the Ballon d'Or
                , presented by France Football, and recognising the best footballers in the world in 2021.
                The nominees for the ceremony were announced on 8 October 2021.
                Right before the ceremony, France Football announced that along with 
                the Men's and Women's Ballon d'Or, Kopa Trophy and Yashin Trophy,
                 two new awards would be given: the Best Club and Best Striker of the Year.
                </p>
                <br>
                <h1>Winners</h1>
                <dl class="list" >
                    <strong><dt>Ballon d'Or</dt></strong>
                    <dd>- Lionel Messi</dd>
                    <br>
                    <strong><dt>Ballon d'Or Féminin</dt></strong>
                    <dd>- Alexia Putellas</dd>
                    <br>
                    <strong><dt>Kopa Trophy</dt></strong>
                    <dd>- Pedri</dd>
                    <br>
                    <strong><dt>Yashin Trophy</dt></strong>
                    <dd>- Gianluigi Donnarumma</dd>
                    <br>
                    <strong><dt>Striker of the Year</dt></strong>
                    <dd>- Robert Lewandowski</dd>
                  
                  </dl>
                  <br>
                  <br>
                  <h2>The French magazine highlighted, via Twitter, that the announcement of this year'
                    s Ballon d'Or nominees will be on August 12, while the final forum will be held in Paris on October 17.</h2>
            </div>
        </div>



        <a href="https://github.com/AbdelhamidADel" target="_blank" class="footer">GitHub/AbdelhamidADel</a>
    </body>
</html>