<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
      
        <h1>Home</h1>
    
        <a href="Home" class="btn">Home</a>
        <a href="Recognition" class="btn">Recognition</a>
        <a href="About" class="btn">About</a>
        <div class="content">
            <div class="container">
                <h1>Project Information</h1>
                <p>- In this project, I relied only on machine learning,
                     not deep learning, using a support vector machine algorithm that achieved a very high score of 99%.</p>
                <p>- I have used in this project 1000 images (average 200 images for each character),
                     and after the operations and processing of those images became 382 images.</p>
                <p>- I also relied in the project on opencv haar cascades, and wave analysis by Fourier transform.</p>
    
                <br>
    
                <h1>How to use </h1>
                <p>- Upload the image by clicking on choose file and 
                    it must be in the following formats [png - jpg - jpeg] and then click on upload.</p>
    
                <br>
                            
                <h1>Important Notes</h1>
                <p>- You must choose a picture in which the face is completely 
                    clear and not a picture of the side of the face or part of it.</p>
                <p>- You must upload the latest photo of the person you want to get to know (not when they were young).</p>
                <p>- When you enter a picture that contains more than one person, 
                    for example (Pedri with Messi) it will only show the result of the highest match between them, not the two.</p>
                <p>- If you enter a photo of a person outside of the people in the project, a result will appear that more matches the person whose photo you have entered with the people present,</p>
                <p>&nbsp;&nbsp;for example (if you enter a photo of someone who looks like Messi, the result will show that it is Messi and so on).</p>
                <p>- In the event that the photo you entered for someone did not match the people present, a random result will appear to you.</p>
                
            </div>
          </div>

        
        <a href="https://github.com/AbdelhamidADel" target="_blank" class="footer">GitHub/AbdelhamidADel</a>
    </body>
</html>